@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=PT+Serif&family=Poppins:wght@200;300;400&display=swap');

/* 
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
*/


.ibx{
    width: 100%;
    height: auto;
}