@charset "utf-8";

/* 디폴트 리셋 */
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

body *{
    outline: 1px dashed #fefefe;
}

/* 스크롤바 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기 변경 */
    width: 6px;
}
.scbar::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 3px;
  }
.scbar::-webkit-scrollbar-track {
background-color: rgba(255, 255, 255, 0);
border-radius: 3px;
}



/* ************************ 상단영역 ***************************** */

.top{
    position: fixed;
    display: flex;
    z-index: 100;

    height: 70px;
    width: 100%;

    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}
/*  JENNA */
.logo a{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;

    display: flex;
    width: 100px;
    margin: 12px 120px;
}

.logo a:visited{
    color: black;
    text-decoration: none;
}

/* 네비게이션 바 */
.gnb{
    display: flex;
    position: absolute;
    width:100%;
}
.gnb a:visited{
    color: black;
    text-decoration: none;
}
.gnb ul{
    box-sizing: border-box;
    max-width: 800px;
    margin-left: 60%;
    display: flex;
}
.gnb ul>li{
    padding: 0 20px;
    list-style: none;
    white-space: nowrap;
    /* float: left; display:flex로 대체*/
}
.gnb>ul::after{
    content: '';
    display: block;
    clear: both;
}
.gnb>ul>li>a{
    color: black;
    text-decoration: none;
    font-size: 18   px;
    line-height:67px;
    font-weight: bold;
}
/* 네비바 메뉴 마우스 오버 시 */
.gnb>ul>li:hover{
    border-bottom: 3px solid rgb(0, 0, 0);
}
.gnb>ul>li:hover .smenu>ol>li>a{
    color: #222;
}
    /* 서브메뉴 */  
.smenu>ol>li:hover a{
    border-left: 3px solid rgb(51, 0, 255);
    text-decoration: underline;
    padding-left: 20px;
}


/* 네비게이션 서브메뉴 W100% 화이트 박스 */
.gnb>ul>li::after{
    position: absolute;
    left: 0; 

    content: '';
    display: block;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: height .6s ease;
}
.gnb>ul>li>a:hover{
    color:#ccc;
}
.gnb>ul>li:nth-child(2):hover .smenu,
.gnb>ul>li:nth-child(2):hover::after{
    height: 160px;
}
.gnb>ul>li:nth-child(3):hover .smenu,
.gnb>ul>li:nth-child(3):hover::after{
    height: 160px;
}


/* 서브메뉴 */
.smenu{
    padding-top: 10px;
    position: absolute;
    /* 마우스 오버 시 언더바가 서브메뉴 밑에 달리는 것 방지 */
    z-index: 1;
    height: 0;
    overflow: hidden;
}
.smenu>ol>li>a{
    text-decoration: none;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}




/* ************************** 메인영역 ******************************* */

body{
    background: url(../images/bg03.jpg) no-repeat fixed center/cover;
}

.content{
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}
.design{
    width: 90%;
    height: auto;
    margin: 0 auto;
    /* box-sizing: border-box; */
    margin-top: 200px;
}
.design::after{
    content:'';
    display: block;
    clear: both;
}

/* 메인 프로젝트 소개 이미지 + 타이틀 */
.project{
    position: relative;
    width: 23%;
    margin: 1%;
    /* height: 300px;   
        마우스 오버 시 텍스트 박스 하단 보더라운드 부분이 제대로 보이지 않음 */
    /* ****************************************************** */
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 3%;
    margin-bottom: 10%;
}
.project img{
    width: 100%;
    border-radius: 60px 60px 0 0 ;
    /* margin-bottom: 20px; */
    /* box-shadow: 10px 20px 40px 20px rgba(102, 101, 129, 0.116); */
}


/* 프로젝트 텍스트 본문 박스 */
.slider{
    position: absolute;
    top: calc(100% - 60px);
    width: 100%;
    /* height: 100%; */
        border-radius: 30%;
    transition: top .5s;
}
.each{
    /* position: relative; */
    text-align: center;
    line-height: 60px;
    width: 100%;
    background: white;
    border-radius: 0 0 30px 30px;
    white-space: nowrap;
    font-size: 1vw;
}
.txt{
    /* position: absolute; */
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255);
    
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 3px 30px;
    overflow-y: scroll;
    
    font-size: 14px;
    color: #222;
    line-height: 20px;
}
.txt p{
    margin-top: 5px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    word-break: all;
}
.txt a{
    color: #aaa;
    font-style: italic;
}

/* 프로젝트에 마우스 오버 시 텍스트 박스 변화 */
.project:hover{
    border-radius: 30px;
}
    /* .project:hover img{
        display: none;
    } */
.project:hover .slider{
    top: 0;

}
.project:hover .each{
    position: relative;
    border-radius: 0;
}
.project:hover .each{
    position: relative;
    /* border-radius: 30px 30px 0 0 ; */
    font-weight: bold;
    /* border-bottom: 1px solid #eee; */
    color: #333;
    background-color: #f5fafa;
}



/* ************************ 하단영역 ***************************** */

.info{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6) ;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/* 소셜네트워크 링크 */
.blink{
    /* display: block; */
    padding: 20px 0;
    width: 260px;
    margin: 0 auto;
}
.blink ul{
    margin: 0;
    padding: 0;
}
.blink ul>li{
    list-style: none;
    float: left;
}
.blink ul>li::after{
    content: '';
    display: block;
    clear: both;
}
.blink a{
    color: black;
    font-weight: bold;
    /* line-height: 30px; */
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
}
.blink img{
    width: 16px;
    margin-left: 4px;
    margin-bottom: -3px;
}
/* 어드레스 카피라이트 */
.addr{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
    font-style: normal;
    font-size: small;
    line-height: 20px;
}