@charset "utf-8";

/* 디폴트 리셋 */
html,
body {
  margin: 0;
  padding: 0;
  
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
ul, ol{
    margin: 0;
    padding: 0;
}

body *{
    outline: 1px dashed #aaa;
}

/* 스크롤바 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기 변경 */
    width: 6px;
}
.scbar::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 3px;
  }
.scbar::-webkit-scrollbar-track {
background-color: rgba(255, 255, 255, 0);
border-radius: 3px;
}



/* ************************ 상단영역 ***************************** */

.top{
    position: fixed;
    display: flex;

    height: 60px;
    width: 100%;

    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.logo a{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    display: inline-block;
    width: 100px;
    margin: 10px 20px;
}

.logo a:visited{
    color: black;
    text-decoration: none;
}


.gnb{
    display: block;
    width:480px;
    margin: 0 auto;
}
.gnb ul{
    margin: 0;
    padding: 0;
}

.gnb ul>li{
    padding: 0 20px;
    list-style: none;
    float: left;
}

.gnb>ul::after{
    content: '';
    display: block;
    clear: both;
}

.gnb a{
    
    color: black;
    text-decoration: none;
    line-height:57px;
    font-weight: bold;
}


.gnb>ul>li:hover{
    border-bottom: 3px solid rgb(0, 0, 0);
  }

.gnb a:visited{

}

/* ************************** 메인 ******************************* */

body{
    background: url(../images/bg03.jpg) no-repeat fixed 0/cover;
}

.content{
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}



.design{
    width: 90%;
    margin: 0 auto;
    /* box-sizing: border-box; */
    margin-top: 250px;
}

.design::after{
    content:'';
    display: block;
    clear: both;
}

.project{
    width: 24%;
    padding: 1%; ;
    float: left;
    box-sizing: border-box;
    transition: height 1s ease-out;
}

.project img{
    width: 100%;
    border-radius: 60px 60px 0 0 ;
    /* margin-bottom: 20px; */
    /* box-shadow: 10px 20px 40px 20px rgba(102, 101, 129, 0.116); */
}

.each{
    position: relative;
    text-align: center;
    line-height: 60px;
    width: 100%;
    background: white;
    border-radius: 0 0 30px 30px;
    margin-top: -10%;
    white-space: nowrap;
    font-size: 1vw;
}

.txt{
    width: 100%;
    /* height: 200px; */
    background: rgba(255, 255, 255);
    
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 3px 30px;
    overflow-y: scroll;
    
    font-size: 14px;
    word-break: all;
    color: #222;
    line-height: 20px;
    display: none;
}

.txt p{
    margin-top: 0;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.project:hover{
    margin-top: -10%;
}

.project:hover .each{
    border-radius: 0;
    color: rgb(95, 95, 95);
    background-color: rgb(255, 255, 255);
    transition: height 1s ease-out;
}

.project:hover .txt{
    display: inline-block;
    height: 200px;
    transition: height 3s ease-out;
}



/* ************************ 하단영역 ***************************** */

.info{
    background: rgba(255, 255, 255, 0.6) ;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.blink{
    /* display: block; */
    padding: 20px 0;
    width: 213px;
    margin: 0 auto;
}

.blink ul{
    margin: 0;
    padding: 0;
}
.blink ul>li{
    list-style: none;
    float: left;
}

.blink ul>li::after{
    content: '';
    display: block;
    clear: both;
}
.blink a{
    color: black;
    font-weight: bold;
    /* line-height: 30px; */
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
}

.addr{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    /* border: 2px solid #aaa; */
    text-align: center;
    font-style: normal;
    font-size: small;
    line-height: 20px;
}