@charset "utf-8";

/* 디폴트 리셋 */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* 가로스크롤 없애기 - 모바일에서 넘치는 화면 조절 */
}

body * {
  /* 코딩 아웃라인 실선으로 보기 */
  /* outline: 1px dashed rgb(204, 204, 219); */
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 공통 클래스 */
/* 스크롤바 디자인 */
/* 접두어 -webkit-  <--- 벤더사명(크롬/사파리 기준) */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기 변경 */
  width: 7px;
}

.scbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}


body {
  background:
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;

  /* background-color: rgb(197, 197, 228); */
  /* background-image: url(../images/bg_mainvisual.jpg);
     background-attachment: fixed;
     background-position: center;
  /* background-position: x, y - left,right, top, bottom, center / px, % 등으로 조절 */
  /* background-repeat: no-repeat;
     background-size: cover; */
}


/*--------------------------------- 상단영역 ---------------------------------*/
/* 헤더 */
.top {
  position: relative;
  z-index: 9;
  /* z-index 적용하기 위해 position:relative 사용 */

  /* background: url(../images/tvnlogo2.png) no-repeat center 20px; */
  background-color: #fff;
  /* height: 120px; */
  /* text-align: center; */
  /* overflow: hidden;  네비게이션에서 쓰지말것 */
  border-bottom: 1px solid silver;
}

#logo{
  /* 로고는 h1으로 만들기 */
  padding: 20px;
  text-align: center;
}
#logo img{
  /* 이미지 사이즈 변경하려면 img 붙여서 수정 */
  width: 100px;
}



/* 글로벌 네비게이션 바 */

.gnb{
  background-color: #fff;
  width: 100%;
  /* max-width:600px 로 하면 네비 메뉴들 또 아래로 떨어짐 */
  margin: 0 auto;
}

.gnb>ul {
  max-width: 510px;
  margin: 0 auto;
  /* ul에는 자동으로 
    margin-block-start: 1em;
    margin-block-end: 1em; 이 설정되어 나와서 
    header위로 마진이 잡혀서 밀리게 됨.
    overflow:hidden 안 쓰려면 마진을 0으로 잡아주어야 함
  */
}
.gnb>ul::after{
  content: '';
  display: block;
  clear: both;
  /* 네비바 메뉴들이 밑으로 떨어지지 않게 해줌 */
}

.gnb>ul>li {
  /* display: inline-block; 한줄로 만들기 - 네비바에서 사용하지 않음 */
  float: left;
  text-align: center;
  padding: 0 15px;
  /* margin-top: 15px; a의 lineheight 대신 */
}

/* ******************************************************** */
.gnb>ul>li>a {
  color: #222;
  text-decoration: none;
  font-size: 14px;

  line-height: 30px;
  display: block;
  height: 45px;
  box-sizing: border-box;
}

/* 네비 메뉴 밑에 하단 보더 생성하기 */
.gnb>ul>li:hover>a{
  border-bottom: 5px solid red;
}


/* 서브메뉴 */
.smenu{
  position: absolute;
  z-index: 1;

  height: 0;
  overflow: hidden;

  transition: height .5s ease;
}
.smenu ol{
  margin: 0;
  padding: 10px 0;
  margin-top: 1px;
  list-style: none;
  text-align: left;
}

.smenu a{
  padding: 15px 0;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(78, 78, 78);
}

/* 서브메뉴 w100% 배경박스 가상요소 */
.gnb>ul>li::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;

  margin-top: 1px;
    /* 메뉴바 하단 보더 1픽셀이 보이도록 하기 위해서 */

  width: 100%;
    /* 앱솔루트의 크기가 %일 경우 부모자격요소를 기준한다! */
  height: 0;
    /* height를 주어야 서브메뉴 텍스트 잔상이 남는 걸 방지 */
  background-color: #fff;

  transition: height .5s ease;
}

  


/* 상위메뉴 마우스 오버시 서브메뉴 보이기 */

.gnb>ul>li:first-child:hover .smenu,
.gnb>ul>li:first-child:hover::after{
  height: 110px;
}
.gnb>ul>li:nth-child(3):hover .smenu,
.gnb>ul>li:nth-child(3):hover::after{
  height: 140px;
}
.gnb>ul>li:nth-child(4):hover .smenu,
.gnb>ul>li:nth-child(4):hover::after{
  height: 80px;
}

/* 하단 보더 처리 */
.gnb>ul>li:first-child:hover::after,
.gnb>ul>li:nth-child(3):hover::after,
.gnb>ul>li:nth-child(3):hover::after{
  border-bottom: 3px solid red;
}

.ham{
  FONT-WEIGHT: 300;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  font-size: 35px;
  color: #222;
  display: none;
  z-index: 999;
}

/* 햄버거 버튼에 가상요소로 글자넣기 */
button.ham::before{
  content: '≡';
}
button.ham.on::before{
  content: '×';
}


/*--------------------------------- 메인영역 ---------------------------------*/

.cont {
  height: 800px;
  overflow: hidden;
  position: relative;
  /* 아래 open에서 배경문구 넣기 위해 position relative 사용 */
}

.open{
  position: absolute;
  top: 12%;
  right: 15%;
  opacity: 0;
  transition: opacity 2s ease-in-out 1s;
    /* opacity에 대한 것 2초 기다렸다가 1초 동안 나옴  */
}
body:hover .open{
  opacity: 1;
}


/* 캐릭터 부모박스 */
#cbx {
  width: 90%;
  margin: 0 auto;
  /* 캐릭터박스 중앙정렬 */
  margin-top: 400px;
  /* 자식요소 블록박스에 마진탑을 줄 경우 
    부모박스인 메인영역 바깥으로 마진값이 나가서 자체가 길어져서 밑으로 내려가 있음
    >>> 메인영역에 overflow:hidden 줄 것 */
}

/* 가상요소로  clear:both 세팅 */
#cbx::after {
  content: '';
  /* 빈 컨텐트 속성은 span 태그를 쓴 것 같dma */
  display: block;
  /* 블록 설정을 하는 손간 div 태그를 쓴 것 같음 */
  clear: both;
  /* 블록 요소만 clear설정이 먹힘으로 블록으로 만들기 */
}

.cat {
  /* 부모요소 cbs의 4분의 1 = 가로 크기 25% 설정 */
  width: 24%;
  /* padding: 0.5%; */
  margin: .5%;
  box-sizing: border-box;
  /* 박스 사이징 - 패딩 때문에 써니가 아래로 떨어지는 것 방지 */
  /* width: 24%;
      margin: 0 0.5% */
  float: left;
  transition: margin-top 0.5s ease-out;
}

/* 마우스 오버 시 캐릭터 설명박스 */
.cat:hover .cd {
  display: inline-block;
  height: 250px;
  /* 캐릭터 이미지에 마우스 오버 시 설명박스가 250px 만큼 펼쳐지게됨 */
  transition: height 1s ease-out;
  /* 설명박스 세로로 펼쳐지게함 */
}

.cat:hover {
  margin-top: -10%;
  /* 캐릭터 이미지가 위로 올라가게 함 */
}

/* float속성 - 블록요소를 옆으로 흘러가게 하는 속성
    - left 나는 왼쪽 너는 오른쪽으로
    - right 나는 오른쪽 너는 왼쪽으로 */
/* [자식요소가 float된 경우 부모요소는 높이값이0]
  해결방법:
  1. 부모요소에 overflow:hidden 설정
  2. float 자식 요소 중 마지막 요소에 float해제인 clear설정하기
    clear:left, clear: right, clear:both
    -> 실제요소를 쓰면 지워지거나 관리에 문제가 될 소지가 큼
    따라서 가상요소로 세팅함
    맨 뒤 추가 가상요소는 ::after */


.ci>img {
  width: 100%;
  /* 이미지 가로 세로 중 하나만 설정하면 됨 - 나머지 자동으로 비율 유지 */
}

/* 배경이미지 여러개 주기 */
/* 배경 이미지 여러개 주려면 한번에 세팅해야 함
      background: 색 이미지url 반복 고정 위치/크기;
      *** background: white url() no-repeat fixed center/50%;
      background: 색이반고윙/크 */

/*   background:
        url(./imgs/dc1.png) no-repeat center/400px,
        url(./imgs/dc2.png) no-repeat right top/auto 150px,
        url(./imgs/dc3.png) no-repeat left bottom/300px,
        url(./imgs/dc4.png) no-repeat right center/250px,
        url(./imgs/bg_mainvisual.jpg) no-repeat left center/50%; */

/* 
        background-image: url(../images/bg_logo_a_01.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 100px 200px;
        background-size: 8em; */



/* 캐릭터 이름표 태그 - 흐린이름 */
.ci span {
  display: block;
  text-align: center;
  margin-top: -20%;
  /* 비율로 이미지가 변경되므로 마진도 상대적으로 변경되어야 위치가 일정 */
}

/* 캐릭터 이미지 */
.ci span img {
  width: 40%;
}

.ci span img:first-child { 
  /* 진한 이름표 태그 숨기기 */
  display: none;
}

/* 캐릭터 이미지에 마우스 오버 1 */
.cat:hover .ci span img:first-child {
  display: inline;
  /* 진한 이름표 태그 표시하기 */
  /* 원래값 복원 */
}

/* 캐릭터 이미지에 마우스 오버 2 */
.cat:hover .ci span img:last-child {
  /* 흐린 이름표 태그 숨기기 */
  display: none;
} 

/* 캐릭터 설명박스 */
.cd {
  background: url(../images/eachBG.jpg) no-repeat center/cover;
  margin-top: 15px;
  overflow-y: scroll;
  /* 마우스 오버 시 height: 250px; 가 되고 스크롤바 생겨남 */
  height: 0px;
  /* height가 0으로 잡힘으로 cat에 마우스 오버하지 않으면 보이지 않음 */
  border-radius: 20px 0 0 20px;
}

.cd h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  /* 제목이 두줄 되는 것 방지 */
  padding: 20px 15px 0;
}

.cd p {
  font-size: 1.4vw; 
  /* width가 줄어들면 폰트사이즈 작아짐 */
  line-height: 1.4;
  padding: 0 15px;
  text-align: justify;
}


/*--------------------------------- 하단영역 ---------------------------------*/
.info {
  /* height: 240px; */
  /* 모바일 버전으로 줄였을때 바닥까지 배경색 표시하려면 높이 잡지 않기 */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-align: center;
}

.blink{
  margin: 0 auto;
  max-width: 760px;
}
.blink ul{
  margin: 0;
  padding: 0 auto;
}
.blink ul>li {
  margin: 20px auto;
  list-style: none;
  float: left;
  /* 네비게이션 스타일에서는 인라인블록으로 하지 말고 nav 쓸 것 */
  /* display: inline-block; */
  /* 한줄로 나열하기 */
}

.blink>ul::after{
  content: '';
  display: block;
  clear: both;
}

.blink a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.info a:hover {
  color: red;
  text-decoration: underline;
}

.addr {
  /* box-sizing: border-box; */
  border:  4px double gray ;
  max-width: 800px;
  /* height: 100px; */
  margin: 0 auto;
  padding: 10px;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
}

.info img {
  margin: 20px;
}