@charset "utf-8";

/* 각종초기화 */

/* 1. 마진 패딩 없애기 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dt,
dd,
p {
    margin: 0;
    padding: 0;
}

/* 가로스크롤 생김 방지 */
html,
body {
    /* width: 100vw; */
    overflow-x: hidden;
}

/* 2. a요소 리셋 */
a {
    color: #111;
    text-decoration: none;
}

/* 3. ul,ol 리셋 */
ul,
ol {
    list-style: none;
}

/* 4. h요소 글자 크기 리셋 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

/* 5. 이미지 리셋 */
img {
    border: none;
    vertical-align: bottom;
    /* 박스 이미지 하단 간극 없애기 - top, middle도 가능 */
}