@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');


/* PJ CSS - robot.css */

html{
  scroll-behavior: smooth;
  /* 내부 id 위치 이동 시 스크롤 애니메이션을 부드럽게 처리 */
}
html, body{
  margin: 0;
  padding: 0;
}
body{
  background: url(../images/bg.jpg) no-repeat fixed top/cover;
  overflow-x: hidden;
}
body *{
  /* outline: 5px dashed lime; */
}


/* 로고 */
h1#logo{
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  z-index: 10;

  transform: scale(1.5);

  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0; 
    /* h1 기본마진 없애기 */
  
  text-align: center;
  line-height: 200px;
  color: white;
  font-family: "vladimir script";
  font-size: 60px;
  text-shadow: 2px 2px 2px #000;

  background: pink url(../images/robot_03.png) no-repeat;
  background-position:  center 10px;
  background-size: 160px;
  box-shadow: 0 0 20px pink,
              inset 0 0 20px 5px #000;

  /* 애니메이션 호출 */
  animation: logoAni 2s ease-in-out 2s forwards,
              logoAni2 2s ease-in-out 4s infinite alternate ;
              /* logoAni 1.5s ease-in-out 2s 3(왔다갔다 반복) forwards, */
}


/* ****************************************************** */

/* 로고 키프레임 */
@keyframes logoAni {
  /* from은 초기값과 동일함으로 생략 */
  80%{
    top: 50px;
    left: 50px;
    transform: scale(1) rotate(0deg);
  }
  100%{
    top: 50px;
    left: 50px;
    transform: scale(1) rotate(25deg);
  }
      /* to{
        top: 50px;
        left: 50px;
        transform: scale(1) rotate(25deg);
      } */
} 
@keyframes logoAni2 {
  from{
    transform: scale(1) rotate(20deg);
  }
  to{
    transform: scale(1) rotate(-20deg);
  }
}




/* [ 애니메이션 효과 ]
    시간에 따라 css설정을 변경하여 애니메이션 하도록
    키프레임을 설정하고 이것을 호출함으로 의도된 연출을 구현 
    
    [ 애니메이션 키 프레임 만들기]

    1. 두 장면 키프레임
    @keyframes 키프레임 이름{
      from{시작css설정}
      to{끝나는css설정}

        or

    @keygrams 이름{
      0%(css)
      100%()
    }
    
    -> from 설정과 초기설정이 같다면 생략 가능

    2. 여러 장면 키프레임
    @keyframes 이름{
      0%{css}
      10%{css}
      20%{css}
      30%{css}
      ...
      80%{css}
      100%{css}
    }

    (1) 장면에 대한 시간 계산
      -> 전체시간 * 설정된 시간 퍼센트 / 100
    (2) 전체시간 설정은 호출 시에 세팅

    [ 설정된 키프레임 호출하는 방법 ]
    animation: 이름 시간 이징 지연 반복 방향 마지막상태

      이름 animation-name 
      시간 animation-duration
      이징 animation-timing-function
      지연 animation-delay
      반복 animation-iteration-count
         - 반복 기본값 1, 숫자를 쓰면 숫자만큼 반복함
         - 영원히 infinite
      방향 animation-direction 시작->끝
         - 반복 시 시작과 반대경로로 애니를 만들어줌
         - alternate 시작끝, 끝시작
      마지막상태 animation-fill-mode
         - 애니메이션이 끝나면 처음으로 돌아가는게 기본
         - forwards 를 써서 애니의 끝 장면으로 마무리
    */

/* ****************************************************** */



/* 링크 */
.link{
  position: absolute;
  /* 부모는 보이는 화면 */
  top: 100px;
  right: 50px;

  opacity: 0;
  animation: showIt 3s ease-in 6s forwards;
}

@keyframes showIt {
  0%{opacity: 0;}
  20%{opacity: 0.5;}
  30%{opacity: 0;}
  40%{opacity: 10;}
  60%{opacity: 0.3;}
  70%{opacity: 0;}
  90%{opacity: 0.7;}
  100%{opacity: 1;}
}
.link a{
  color: rgb(255, 251, 0);
  font-family: 'Luxurious Roman';
  font-size: 2vw;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
}
.link a:hover{
  color: aqua;
  text-decoration: overline;
}

.btn{
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;

  text-decoration: none;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  color: orangered;
}

.btn:hover{
  background-color: rgb(255, 251, 0);
}

/* 로봇머리 */


/* 로봇 제자리 키프레임 */
@keyframes robotAni {
  to{
    left:0
  }
}

#head{
  position: relative;
  left: 100%;

  width: 250px;
  height: 250px;
  background: url(../images/metal01.jpg) no-repeat center/cover;
  margin: 0 auto;
  margin-top: 100px;
  /* overflow: hidden; */

  animation: robotAni 1.5s ease-out 4s forwards;
}

/* 눈1 */
#eye1{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
#eye2{
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}

/* 코 입 */
#nose{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  background: url(../images/nose.jpg) no-repeat 0/100% 100%;
}
#mouth{
  position: absolute;
  bottom: 40px;
  left: 75px;
  width: 100px;
  height: 40px;
  background: url(../images/mouth.png) no-repeat 0/100% 100%;

  animation: mouthAni1 .2s linear /*가속도 없음*/ 6s infinite alternate;
}
@keyframes mouthAni1 {
  0%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(.4);
  }
}


/* 귀 공통 */

.ear{
  position: absolute;
  top: 70px;
  width: 50px;
  height: 80px;
  background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

#ear1{
  left: -50px;
  border-radius: 10px 0 0 10px;
}

#ear2{
  right: -50px;
  border-radius: 0 10px 10px 0;
}



/* 바디 */
#body{
  position: relative;
  left: -100%;

  width: 250px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 400px;
    /* 다리가 내려간 만큼 여유 마진 */
  background: url(../images/metal01.jpg) no-repeat center/cover;

  animation: robotAni 1.5s ease-out 3.5s forwards;
}

#neck{
  position: absolute;
  top: -50px;
  left: 100px;
  width: 50px;
  height: 50px;
  background: url(../images/metal02.jpg) no-repeat center/cover;
}

.part{
  position: absolute;
  width: 50px;
  height: 250px;
  background: url(../images/metal02.jpg) repeat-y 0/100%;
}

#arm1{
  position: absolute;
  top:  20px;
  left: -50px;
  transform-origin: top;
  animation: armAni3 2s ease-in-out 5s forwards,
             armAni4 .5s ease-in-out 6s infinite alternate;

}
#arm2{
  position: absolute;
  top: 20px;
  right: -50px;

  transform-origin: top;
  animation: armAni1 2s ease-in-out 5s forwards,
              armAni2 .5s ease-in-out 6s infinite alternate;
}

@keyframes armAni1 {
  to{
    transform: rotate(-150deg)
    /* 로봇이 나타난 후 머리 위로 팔 들어올리기 */
  }
}
@keyframes armAni2 {
  from{
    transform: rotate(-150deg)
  }
  /* 팔 한번 들어올린 후 그 자리에서 흔들며 반복 */
  to{
    transform: rotate(-120deg)
  }
}
@keyframes armAni3 {
  to{
    transform: rotate(120deg)
    /* 로봇이 나타난 후 머리 위로 팔 들어올리기 */
  }
}
@keyframes armAni4 {
  from{
    transform: rotate(120deg)
  }
  /* 팔 한번 들어올린 후 그 자리에서 흔들며 반복 */
  to{
    transform: rotate(150deg)
  }
}

#leg1{
  position: absolute;
  left: 0;
  /* bottom: -250px; */
  top:100%;
}

#leg2{
  position: absolute;
  right: 0;
  top: 100%;
}

.sh{
  position: absolute;
  width: 80px;
  height: 80px;
  background: url(../images/metal01.jpg) no-repeat center/cover;
  
}

#sh1{
  top: -10px;
  left: -80px;
  border-radius: 50% 5px 0 50%;
}
#sh2{
  top: -10px;
  right: -80px;
  border-radius: 5px 50% 50% 0;
}


#tv{
  position: absolute;
  top: 50px;
  left: 25px;
  /* 부모는 바디 */
  width: 200px;
  height: 150px;
  background: url(../images/tv.jpg) no-repeat 0/100% 100%;
}

#screen{
  position: absolute;
  top: 16px;
  left: 11px;
  width: 142px;
  height: 107px;
  background-color: #111;
  border-radius: 12px;
  overflow:hidden;
}

#screen iframe{
  position: absolute;
  top: -10px;
  left: -50px;
  width: 160%;
  height: 120%;
}

#dcbx{
  margin: 0 auto;
  margin-bottom: 200px;

  width: 800px;
  height: auto;
  padding: 15px 30px;
  border-radius: 5%;
  border: 3px solid white;
  background-color: rgba(34, 34, 34, 0.3);

  color: white;
  text-align: justify;
  text-shadow: 1px 1px 1px .#000;
  box-shadow: inset 0 0 70px cyan;
  /* box-shadow: inset 0 0 70px 10px cyan; */
  
}

#dcbx h2{
  position: sticky;
  top: 0;
  /* sticky - top의 의미는 보이는 화면에서 top위치값보다 커지면 fixed로 고정해줌 */
  font-size: 35px;
  text-align: center;
  color: lime;
  background-color: rgba(255, 255, 255, 0.356);
}

#dcbx small{
  display: block;
  text-align: center;
  color: yellow;
}

#dcbx p{
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: -.5px;
  word-spacing: 1px;
  word-break: break-all;
    /* 양쪽정렬 시 사용 */
  text-indent: 20px;
    /* 첫줄 들여쓰기 */

  /* 다단 설정 */
  column-count: 3;
  column-rule: 5px dotted lime;
  column-gap: 50px;
}

#dcbx p::first-letter{
  color: orange;
  font-size: 24px;
  font-weight: bold;
}