@charset "utf-8";

/* 디폴트 리셋 */
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* 공통 클래스 */
/* 스크롤바 디자인 */
/* 접두어 -webkit-  <--- 벤더사명(크롬/사파리 기준) */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기 변경 */
  width: 7px;
}

.scbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

body * {
  outline: 0px dashed rgb(204, 204, 219);
}

body {
  background:
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;

  /* background-color: rgb(197, 197, 228); */
  /* background-image: url(../images/bg_mainvisual.jpg);
     background-attachment: fixed;
     background-position: center;
  /* background-position: x, y - left,right, top, bottom, center / px, % 등으로 조절 */
  /* background-repeat: no-repeat;
     background-size: cover; */
}


/*--------------------------------- 상단영역 ---------------------------------*/

.top {
  background: url(../images/tvnlogo2.png) no-repeat center 20px;
  background-color: #fff;
  height: 120px;
  text-align: center;
  /* overflow: hidden; */
}
.gnb ul {
  margin: 0;
  /* ul에는 자동으로 
    margin-block-start: 1em;
    margin-block-end: 1em; 이 설정되어 나와서 
    header위로 마진이 잡혀서 밀리게 됨.
    overflow:hidden 안 쓰려면 마진을 0으로 잡아주어야 함
  */
}
.gnb ul>li {
  padding-top: 80px;
  display: inline-block;
  list-style: none;
}
.top a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
}


/*--------------------------------- 메인영역 ---------------------------------*/

.cont {
  height: 800px;
  overflow: hidden;
}

/* 캐릭터 부모박스 */
#cbx {
  width: 90%;
  margin: 0 auto;
  /* 캐릭터박스 중앙정렬 */
  margin-top: 400px;
  /* 자식요소 블록박스에 마진탑을 줄 경우 
    부모박스인 메인영역 바깥으로 마진값이 나가서 자체가 길어져서 밑으로 내려가 있음
    >>> 메인영역에 overflow:hidden 줄 것 */
}

/* 가상요소로  clear:both 세팅 */
#cbx::after {
  content: '';
  /* 빈 컨텐트 속성은 span 태그를 쓴 것 같dma */
  display: block;
  /* 블록 설정을 하는 손간 div 태그를 쓴 것 같음 */
  clear: both;
  /* 블록 요소만 clear설정이 먹힘으로 블록으로 만들기 */
}

.cat {
  /* 4등분 가로 크기 25% */
  width: 25%;
  padding: 0.5%;
  box-sizing: border-box;
  /* 박스 사이징 - 패딩 때문에 써니가 아래로 떨어지는 것 방지 */
  /* width: 24%;
      margin: 0 0.5% */
  float: left;
  transition: margin-top 0.5s ease-out;
}

/* 마우스 오버 시 캐릭터 설명박스 */
.cat:hover .cd {
  display: inline-block;
  height: 250px;
  transition: height 1s ease-out;
  /* 소개박스 펼쳐지게함 */
}

.cat:hover {
  margin-top: -10%;
  /* 캐릭터 이미지가 위로 올라가게 함 */
}

/* float속성 - 블록요소를 옆으로 흘러가게 하는 속성
    - left 나는 왼쪽 너는 오른쪽으로
    - right 나는 오른쪽 너는 왼쪽으로 */
/* [자식요소가 float된 경우 부모요소는 높이값이0]
  해결방법:
  1. 부모요소에 overflow:hidden 설정
  2. float 자식 요소 중 마지막 요소에 float해제인 clear설정하기
    clear:left, clear: right, clear:both
    -> 실제요소를 쓰면 지워지거나 관리에 문제가 될 소지가 큼
    따라서 가상요소로 세팅함
    맨 뒤 추가 가상요소는 ::after */


.ci>img {
  width: 100%;
  /* 이미지 가로 세로 중 하나만 설정하면 됨 - 나머지 자동으로 비율 유지 */
}

/* 배경이미지 여러개 주기 */
/* 배경 이미지 여러개 주려면 한번에 세팅해야 함
      background: 색 이미지 반복 고정 위치/크기;
      background: 색이반고윙/크 */

/*   background:
        url(./imgs/dc1.png) no-repeat center/400px,
        url(./imgs/dc2.png) no-repeat right top/auto 150px,
        url(./imgs/dc3.png) no-repeat left bottom/300px,
        url(./imgs/dc4.png) no-repeat right center/250px,
        url(./imgs/bg_mainvisual.jpg) no-repeat left center/50%; */

/* 
        background-image: url(../images/bg_logo_a_01.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 100px 200px;
        background-size: 8em; */



/* 캐릭터 이름 - 흐린이름 */
.ci span {
  display: block;
  text-align: center;
  margin-top: -20%;
  /* 비율로 이미지가 변경되므로 마진도 상대적으로 변경되어야 위치가 일정 */
}

/* 캐릭터 이미지 */
.ci span img {
  width: 40%;
}

.ci span img:first-child {
  display: none;
}

/* 캐릭터 이미지 마우스 오버 */
.cat:hover .ci span img:first-child {
  /* 진한이름 */
  display: inline;
  /* 원래값 복원 */
}

.cat:hover .ci span img:last-child {
  /* 흐린이름 */
  display: none;
}

/* 캐릭터 설명박스 */
.cd {
  background: url(../images/eachBG.jpg);
  no-repeat center/cover;
  margin-top: 15px;
  overflow-y: scroll;
  /* 마우스 오버 시 height: 250px; */
  height: 0px;
  border-radius: 20px 0 0 20px;

}

.cd h3 {
  font-size: 20px;
  padding: 20px 10px 0;
}

.cd p {
  font-size: 20px;
  line-height: 1.7;
  padding: 10px;
  text-align: justify;
}



/*--------------------------------- 하단영역 ---------------------------------*/
.info {
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.info ul>li {
  list-style: none;
  display: inline-block;
  padding-top: 20px;
  /* 한줄로 나열하기 */
}

.info a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.info a:hover {
  color: red;
  text-decoration: underline;
}


.add {
  box-sizing: border-box;
  border: gray double 4px;
  width: 800px;
  height: 100px;
  margin: auto;
}

.info address {
  padding-top: 10px;
  font-style: normal;
  font-size: 13px;
  line-height: 25px;
}

.add img {
  margin-top: 30px;
}