@charset "utf-8";

/* VOGUE 공통 핵심 */
/* 웹폰트, 공용 클래스 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

@font-face {
  font-family: nbg;
  src: url(../fonts/NanumBarunGothicLightSubset.woff) format('woff');
}

@font-face {
  font-family: pist;
  src: url(../fonts/Pistilli-Roman.woff) format('woff');
}

/* 속박스 class */
.ibx {
  max-width: 1300px;
  margin: 0 auto;
}

/* 1. ********************* 웹폰트 : CDN ********************* */



/* 2. ********************* 공통 클래스 ********************* */
.rbx {
  position: relative;
  /* 비율유지박스 부모자격 */
}

/* 비율생성 가상요소 */
.rbx::before {
  content: '';
  display: block;
  /* padding-top을 위해 div를 준 것과 동일 */
  /* padding-top: 50%; */
  /* 패딩탑 %로 가로비율 세팅 */
}

/* 박스종류별 비율변경 */
.pt1.rbx::before {
  padding-top: 55.69%;
  /* 비율계산: 가로크기:세로크기=100:x
     x = 세로크기 * 100 / 가로크기
     724 * 100 / 1300 = 55.69
  */
}

.pt3.rbx::before {
  padding-top: 50%;
  /* 비율계산: 가로크기:세로크기=100:x
     x = 세로크기 * 100 / 가로크기
     650 * 100 / 1300 = 50
  */
}

/* 비율유지 속 박스 */
.rbxIn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* 한개짜리 파티션 박스 */
.pt1 .cbx {
  height: 100%;
}

/* 컨텐츠 박스 */
.cbx {
  position: relative;
  text-align: center;
}

/* 반투명 어두운 배경 그라데이션 */
.cbx::before {
  /* h2보다 먼저 와야하기 때문에 가상요소 비포 사용 */
  position: absolute;
  content: '';
  display: block;
  /* div태그와 비슷해짐 */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* background-color: #000; */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.639), rgba(0, 0, 0, 0));

}

/* 컨텐츠 타이틀 박스 */
.cbx h2 {
  position: absolute;
  /* 부모는 싸고 있는 cbx */
  width: 100%;
  bottom: 0;

  color: white;
  font-family: pist, nbg;
  font-size: min(33px, 3vw);
  font-weight: normal;

  padding: min(50px, 3vw);
  box-sizing: border-box;
}

.cbx::after {
  /* cbx 위에 오도록 하기 */
  position: absolute;
  content: '';
  display: block;

  /* box-sizing: border-box; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cbx:hover::after {
  transition: .3s ease-in;
  border: 20px solid red;

}

/* 플렉스 박스 */
.fbx {
  display: flex;
}

/* 플렉스 박스 자식박스 등분할 */
.fbx .cbx {
  flex: 1;
  /* 등분할 시 높이값은 자동으로 부모값의 100% 채움 */
}

/* IR 클래스 */
.ir {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* 배경 이미지 공통 클래스 */
.bgi {
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}